* {
	margin: 0;
	padding: 0;
}

#frame_1{
	background: url("../src/frame1.jpg") fixed;

}
#frame_2{
	background-color: red;

}
#frame_3{
	background: url("../src/frame1.jpg") fixed;

}
#frame_4{
	background-color: red;

}


.static {
	background-repeat: no-repeat;
	background-position: center;



}

